{
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "gradle-semantic-release-plugin",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git"
  ]
}